.no-border:focus{
    outline: none;
}

.no-border {
  border: none;
  border-bottom: solid 1px #ccc;
}

.action-icon {
  padding: 0 3px;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: white;
}