<!-- Page Heading -->
<div>
  <div class="row" ng-show="!new_instance">
    <div class="col-lg-3 col-md-3 col-sm-4" ng-repeat="i in instances track by $index">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div style="float: left">
            <a class="pointer" ng-click="start($index)"><i class="fa fa-play action-icon"></i></a>
            <a class="pointer" ng-click="stop($index)"><i class="fa fa-stop action-icon"></i></a>
          </div>
          <div style="float: right">
            <a class="pointer"><i class="fa fa-search action-icon"></i></a>
            <a class="pointer"><i class="fa fa-pencil action-icon" ng-click="edit_instance($index)"></i></a>
            <a class="pointer"><i class="fa fa-trash action-icon" ng-click=rem_instance($index)></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div ng-if="instances[$index].ready">
            <i class="fa fa-spinner fa-pulse" style="width:100%; text-align:center; color:#777"></i>
          </div>
          <input type="text" class="no-border" ng-model="instances[$index].name" ng-show="instances[$index].edit" ng-if="!instances[$index].ready"></input>
          <span ng-show="!instances[$index].edit" ng-if="!instances[$index].ready">{{i.name}}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="height:40px;">
          <div style="float: left">
            <i class="fa fa-play action-icon"></i>
            <i class="fa fa-stop action-icon"></i>
          </div>
          <div style="float: right">
            <i class="fa fa-search action-icon"></i>
            <i class="fa fa-pencil action-icon"></i>
            <i class="fa fa-trash action-icon"></i>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body" style="height:51px;">
          <div style="color:#ddd; margin:auto; text-align:center;" ng-show="!new_instance" >
            <span class="add-join-icon" ng-click="new_instance=true"> ADD INSTANCE  </span>
          </div>
          <div ng-show="new_instance">
            <input type="text" class="no-border" placeholder="Instance name" ng-model="instance.name"></input>
            <i class="fa fa-times form-icon" ng-click="new_instance=false; instance.name=''"/>
            <i class="fa fa-check form-icon" ng-click="add_instance()"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.row -->
</div>

<div class="row" ng-show="new_instance">
  <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">

    <div style="margin-bottom:20px;">
      <h3>Create Organization</h3>
    </div>
    <form ng-submit="add_instance()">
      <fieldset>
        <div class="form-group">
          <input class="form-control" placeholder="Instance name" ng-model="instance.name" type="text" value="" required>
        </div>
        <div ng-messages="instance.name.$error">
          <div ng-message="required">This field is required</div>
        </div>
        <button type=submit class="btn btn-success">Create</button>
        <button ng-click="new_instance=false" class="btn btn-danger">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>