<div ng-controller="InvitationCtrl">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">

            <form ng-submit="invite()">
                <fieldset>
                    <label>Destination</label>
                    <div ng-repeat="i in form.emails track by $index" style="margin-bottom: 15px;">
                        <div class="input-group">
                            <input type="email" class="form-control" ng-model="form.emails[$index]" required>
                            <div ng-messages="form.emails[$index].$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="fa fa-trash action-icon" ng-click="rem_invitation($index)"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom:15px;">
                        <a ng-click="add_invite()">invite other</a>
                    </div>

                    <div class="form-group">
                        <label>Select your organization</label>
                        <select class="form-control" type="text" ng-model="organization.name" required>
                            <option ng-repeat="org in organizations" value="{{org.name}}">{{org.name}}</option>
                        </select>
                        <div ng-messages="form.organization.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" ng-model="form.msg" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
