<div ng-controller="ProfileCtrl">
    <div class="row" style="margin-top: 40px">
        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
            <form ng-submit="update()">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" ng-model="user.name" type="text" autofocus required>
                    </div>
                    <div ng-messages="user.name.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Lastname" ng-model="user.lastname" type="text" autofocus required>
                    </div>
                    <div ng-messages="user.lastname.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail" ng-model="user.email" type="email" autofocus required>
                    </div>
                    <div ng-messages="user.email.$error">
                        <div ng-message="required">This field is required</div>
                    </div>

                    <!-- Change this to a button or input when using this as a form -->
                    <button type=submit class="btn btn btn-success btn-block">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>