<div ng-controller="OrgCtrl">
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">

        <div style="margin-bottom:20px;">
            <h3>Organization details</h3>
        </div>
      <form ng-submit="edit_organization()">
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="Organization" ng-model="organization.name" type="text" value="">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="OU" ng-model="organization.ou" type="type" value="">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Email" ng-model="organization.email" type="email" value="">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Country" ng-model="organization.country" type="text" autofocus>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Providence (note abbreviated)" ng-model="organization.providence" type="text" autofocus>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="City" ng-model="organization.city" autofocus>
          </div>
          <button type=submit class="btn btn-success">Update</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
