<div>
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
      <div style="margin-bottom:20px;">
        <h3>Cloud Providers</h3>
      </div>
      <div class="form-group">
        <input type="checkbox" autofocus> No Cloud Provider
      </div>
      <form ng-submit="moc()">
        <fieldset>
          <div class="form-group">
            <input type="checkbox" autofocus required ng-click="moc=!moc"> MOC
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="E-mail"  type="email" autofocus required >
          </div>
          <div ng-messages="moc.email.$error">
            <div ng-message="required">This field is required</div>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password" type="password" value="" required>
          </div>
          <div ng-messages="moc.password.$error">
            <div ng-message="required">This field is required</div>
          </div>
          <button type=submit class="btn btn-success" ng-disabled="!moc">Save</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
