<div>
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Step 1: OpenVPN Server installation
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            </div>
          </div>
        </div>

        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Step 2: OpenVN Server configuration
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <form ng-submit="invite()">
                <fieldset>
                  <div>
                  </div>
                  <div class="form-group">
                    <a style="float: right;">Copy to Clipboard <i class="fa fa-clipboard"/> </a>
                      <textarea class="form-control" ng-model="form.msg" rows="3" style="height:370px;" value=serverConf></textarea>
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Step 3: Certificates and Key  
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <form>
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Country"  type="text" autofocus required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Providence" type="text" autofocus required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="City" autofocus required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Organization" type="text" value="" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email" value="" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="OU" type="type" value="" required>
                    </div>
                    <button type=submit class="btn btn-success btn-block">Generate</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Step 4: Rounting configuration
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
            </div>
          </div>
        </div>

        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Step 5: How to run
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <div class="form-group">
                <a style="float: right;">Copy to Clipboard <i class="fa fa-clipboard"/> </a>
                  <input class="form-control" value="openvpn --config server.conf --ca ca.crt --crt server.crt --key server.key --dh server.pem --daemon">
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
