<div ng-controller="OrgCtrl">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/apple.png" alt="100%x200" style="height: 200px; display: block;">
        <div class="caption">
          <h4>vSwitch for Mac</h4>
          <a>Click here to download</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/windows.png" alt="100%x200" style="height: 200px; display: block;">
        <div class="caption">
          <h4>vSwitch for Windows</h4>
          <a>Click here to download</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../images/linux.png" alt="100%x200" style="height: 200px; display: block;">
        <div class="caption">
          <h4>vSwitch for Linux</h4>
          <a>Click here to download</a>
          
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
