<div ng-controller="OrgCtrl">
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default accordion">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#clientInstall" aria-expanded="true" aria-controls="clientInstall">
                Step 1: OpenVPN Client installation
              </a>
            </h4>
          </div>
          <div id="clientInstall" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
              Download a client for your OS 
              <i class="pointer client-vpn fa fa-linux fa-2x"  />
                <i class="pointer client-vpn fa fa-windows fa-2x"/>
                  <i class="pointer client-vpn fa fa-apple fa-2x" ng-click="apple_client()" />
                  </div>
                </div>
              </div>

              <div class="panel panel-default accordion">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Step 2: OpenVN Client configuration
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
                    <form>
                      <fieldset>
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="VPN Server IP" ng-model="ip" ng-init="ip='x.x.x.x'">
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="VPN Server Port" ng-model="port" ng-init="port=80">
                        </div>
                        <div class="form-group">
                          <a style="float: right;">Copy to Clipboard <i class="fa fa-clipboard"/> </a>
                            <textarea class="form-control" rows="3" style="height:300px;" value="">
client
dev tun
proto tcp
remote {{ip}} {{port}}
resolv-retry infinite
nobind
comp-lzo
ns-cert-type server
persist-tun
persist-key
verb 4
                            </textarea>
                            <div style="clear: both;"></div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="panel panel-default accordion">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Step 3: Certificates and Key  
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
                          <form ng-submit="generateCsr()">
                            <fieldset>
                              <div class="form-group">
                                <input class="form-control" placeholder="Organization" ng-model="organization.name"  type="text" value="" required>
                              </div>
                              <div class="form-group">
                                <input class="form-control" placeholder="OU" ng-model="organization.ou"    type="text" value="" required>
                              </div>
                              <div class="form-group">
                                <input class="form-control" placeholder="Email" ng-model="user.email"   type="text" value="" required>
                              </div>
                              <div class="form-group">
                                <input class="form-control" placeholder="Country" ng-model="organization.country"     type="text" value="" required>
                              </div>
                              <div class="form-group">
                                <input class="form-control" placeholder="Providence (note abbreviated)" ng-model="organization.providence"   type="text" value="" required>
                              </div>
                              <div class="form-group">
                                <input class="form-control" placeholder="City"  ng-model="organization.city"  type="text" value="" required>
                              </div>
                              <button type=submit class="btn btn-success btn-block">Generate CSR</button>
                            </fieldset>
                          </form>
                        </div>
                        <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3" style="margin-top:20px;">
                          <form ng-submit="upload()">
                            <div class="form-group">
                              <input class="form-control"  type="file" value=""  required file-model="file">
                            </div>
                            <button type=submit class="btn btn-success btn-block">Request Sign</button>
                          </form>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default accordion">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Step 4: How to run
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <a style="float: right;">Copy to Clipboard <i class="fa fa-clipboard"/> </a>
                          <input class="form-control" value="openvpn client.ovpn">
                          <div style="clear: both;"></div>
                        </div>
                      </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
