<div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Connected Users</th>
                </tr>
                </thead>
                <!--<tr ng-repeat="n in ['Tony Stark', 'Bruce Wayne', 'Peter Parker', 'Lois Lane', 'Clark Kent']">
                    <td><i class="fa fa-circle ACTIVE"/> {{n}}</td>
                </tr>-->
                <tr ng-repeat="n in organization.connected">
                    <td><i class="fa fa-circle ACTIVE"/> {{n.name}} {{n.lastname}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>