<div ng-controller="SessionCtrl">
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
      <h1 style="text-align:center; text-align:center;margin-bottom: 40px;">Cloud vSwitch</h1>
      <form ng-submit="login()" name="form">
        <fieldset>
          <div ng-class="form.email.$dirty && !form.email.$valid ? 'form-group has-error' : 'form-group' ">
            <input class="form-control" name="email" placeholder="E-mail" ng-model="user.email" type="email" autofocus required>

            <div ng-messages="form.email.$dirty && form.email.$error" class="error">
              <div ng-message="required">This field is required</div>
              <div ng-message="email">Invalid email</div>

            </div>
          </div>
          <div ng-class="form.password.$dirty && !form.password.$valid ? 'form-group has-error' : 'form-group' ">
            <input class="form-control" name="password" placeholder="Password" ng-model="user.password" type="password" value="" required>

            <div ng-messages="form.password.$dirty && form.password.$error" class="error">
              <div ng-message="required">This field is required</div>
            </div>
          </div>
          <button class="btn btn-success btn-block" type="submit">Login</button>

          <!--<div style="margin-top:10px">
            <span>Don't have an account? <a href="#/signup"> Create Account<a></span>
          </div>-->
        </fieldset>
      </form>
    </div>
  </div>
</div>

